body {background-color:#D8D3C9;
  padding:28px ;
  font-family: "Space Grotesk", sans-serif;
   }
.Malé { font-size: 11px;
  justify-content:space-between ;
  }
  .Důvod { font-size: 11px;
  font-color: #565758;

  }
  .container {
  display: grid;    
  max-width: 850px;
  height: 680px;
  margin: auto;
      gap: 14px;
     border-radius: 24px;
     grid-template-columns: 1.5fr 1.05fr 0.9fr;
grid-template-areas:
    "container1 container2 container3" 
    "container1 container4 container5";
    grid-template-rows: 2fr 1fr;
}


.container1 {
  display: flex;
  background-color: #F5F2EA;
  grid-area: container1;
     border-radius: 24px;

 padding: 12px;

 flex-direction:column;
 justify-content:space-between ;
 
  .top {
      display:flex;
  flex-direction:row;
    justify-content:space-between ;
    font-size: 12px;

  }
  
 h1 {font-size: 90px;
  line-height: 0.9;
  margin: 0px;
  
 }
 

  
}

.container2 {
  display: flex;
  background-color: #181818;
     grid-area: container2;
     border-radius: 24px;
     color: aliceblue;

 padding: 12px;

 flex-direction:column;
 justify-content:space-between ;
 .top {font-size: 12px; }
 h1 {font-size: 32px;
  fot-weight: bolder;
  margin: 0px; margin-left: 5px; }
 .Důvod {color:#a3a4a7;
  }
}

.container3 {
  display: flex;
  background-color: #D8FF45;
 grid-area: container3;
     border-radius: 24px;

 padding: 12px;

  flex-direction:column;
 justify-content:space-between ;
 a {
    color: black;
    text-decoration:none;
    font-weight:bolder;
  

}
.Thermo {font-size: 32px;
}
h3 {font-size: 40px;
  margin: 0px; margin-left: 5px; }

.Dolulu {margin-bottom:0px;
  margin-top: -15px;
}

a:hover {
    color: blue;
}
.top {font-size: 12px; }
}

.container4 {
  display: flex;
  background-color: #F5F2EA;
  grid-area: container4;
     border-radius: 24px;

 padding: 12px;

   flex-direction:column;
 justify-content:space-between ;
 .top {font-size: 12px; }
 
 .bot{ font-size: 26px; margin-left: 5px; 
}
}

.container5 {
 display: flex;
  background-color: #6758F5;
 grid-area: container5;
     border-radius: 24px;
color: aliceblue;

 padding: 12px;

  flex-direction:column;
 justify-content:space-between ;

  a {
    color:  aliceblue;
    
    
}
.top {font-size: 12px;
}
h1 {font-size: 40px;
  line-height: 1;
  margin: 0px;
margin-left: 5px;}
}

@media (max-width: 700px) {
  body {background-color:#D8D3C9;
  padding:28px ;
  }
.container {
  display: grid;    
  max-width: 1200px;
  min-height: 800px;
  margin: auto;
      gap: 14px;
     border-radius: 24px;
     grid-template-columns: 1fr ;
grid-template-areas:
    "container1"
    "container2"
    "container3"
    "container4"
    "container5";
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}
}